/* common */
.wrap {position:relative;}
.inner {max-width:1100px; height: 100%;  margin: 0 auto;}
.com_tit01 {font-family: 'NotoB'; font-size:120px; color:#fff; text-align: center;}
.com_txt01 {max-width:70%; margin:0 auto; font-family: 'NotoR'; font-size:32px; color:#fff; text-align: center;;}

/* main */

/* 타이틀 */
.fix_tit {position: fixed; left:50%; top:50%; z-index:100; font-family: 'NotoB'; font-size:80px; line-height: 1; color:#fff; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); opacity: .6;}
.fix_tit span {position: absolute; right:0; top:-30px; font-size:30px; font-family: 'NotoM'; border-bottom:3px solid rgba(255,255,255,.6);}
.fix_tit.black {color:#000; transition:color .5s}
.fix_tit.black span {border-color: rgba(000,000,000,.6);}

/* 섹션, 네비게이션 */
.inter_section {overflow: hidden; height: 1440px; background-size:cover;}
.inter_section.fixed {background-attachment: fixed;}

.nav_list {position:fixed; right:50px; top:50%; z-index:1000; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%);}
.nav_list li {margin-bottom:15px;}
.nav_list li a {position:relative; display:block; color:#fff; transition:.5s; -webkit-transition:.5s; -moz-transition:.5s; -o-transition:.5s; -ms-transition:.5s;}
.nav_list li a .fa {position:absolute; left:-20px; top:5px; width:16px; height:16px; background-image:url('../images/icon_p.png'); background-size:cover; background-position: 0px 0px; transition:transform .5s; -webkit-transition:transform .5s; -moz-transition:transform .5s; -o-transition:transform .5s; -ms-transition:transform .5s; }
.nav_list li a.active {color:#f0582b;}
.nav_list li a.active .fa {background-position: 0px 16px; transform:rotate(360deg);}
.nav_list li a:hover, .nav_list li a:focus {color:#f0582b; text-decoration: none;}

/* common */
.wrap {position:relative; height: 100vh; background: #000}

.cube_wrap{perspective:500px; position: fixed; left:50%; top:50%; width:400px; height:400px; transform: translate(-50%,-50%);}
.cube_wrap .cube_box {position: relative; height: 100%; transform-style: preserve-3d;}

.cube_wrap .cube_box .cube_face{position: absolute; left:0; top:0; width: 100%; height: 100%; border: 3px solid white;}
.cube_wrap .cube_box .cube_face.front{transform: rotateY(0deg) translateZ(200px);}
.cube_wrap .cube_box .cube_face.back{transform: rotateY(180deg) translateZ(200px);}
.cube_wrap .cube_box .cube_face.left{transform: rotateY(-90deg) translateZ(200px);}
.cube_wrap .cube_box .cube_face.right{transform: rotateY(90deg) translateZ(200px);}
.cube_wrap .cube_box .cube_face.top{transform: rotateY(90deg) translateZ(200px);}
.cube_wrap .cube_box .cube_face.bottom{transform: rotateY(-90deg) translateZ(200px);}